@using Io.Schnurr.Circles.Shared.Models;

@{
    if (IsLoading)
    {
        <ProgressCircular IsDrawerOpen="IsDrawerOpen" />
        return;
    }

    if (!ShowTileView)
    {
        <Table Data="Data"
               TableHeaders="@(new string[]{ "Id", "Title", "Description", "Price", "Created" })"
               OnClick="@((TableRowClickEventArgs<Advertisement> r) => Console.WriteLine(r.Item.Id))">
            <TableRowTemplate>
                <MudTd DataLabel="Id">@context.Id</MudTd>
                <MudTd DataLabel="Title">@context.Title</MudTd>
                <MudTd DataLabel="Description">@context.Description</MudTd>
                <MudTd DataLabel="Price">@context.Price.ToCurrency()</MudTd>
                <MudTd DataLabel="CreatedAt">@context.CreatedAt.ToShortDateString()</MudTd>
            </TableRowTemplate>
        </Table>
        return;
    }

    if (!Data.Any())
    {
        // Show information, when no Tiles are rendered because of missing data
        <MudText Class="d-flex justify-center mt-16" Typo="Typo.body1">No matching records found</MudText>
        return;
    }

    <MudGrid Spacing="6">
        @{
            foreach (var d in Data)
            {
                <Tile Title="@d.Title"
                      Description="@d.Description"
                      SubTitleLeft="@d.CreatedAt.ToShortDateString()"
                      SubTitleRight="@d.Price.ToCurrency()"
                      OnClick="@(() => Console.WriteLine(d.Id))"
                      Image="https://cache.pressmailing.net/thumbnail/story_hires/64940fdd-8ec9-4854-98f9-e7f7467414b7/image.jpg" />
            }
        }
    </MudGrid>
}
