@page "/circles"
@using Io.Schnurr.Circles.Shared

<PageTitle>Circles</PageTitle>

<h1>Configure your circles</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (offers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>CreatedAt</th>
                <th>DeletedAt</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var offer in offers)
            {
                <tr>
                    <td>@offer.Id</td>
                    <td>@offer.Title</td>
                    <td>@offer.Description</td>
                    <td>@offer.Price</td>
                    <td>@offer.CreatedAt</td>
                    <td>@offer.DeletedAt</td>
                </tr>
            }
        </tbody>
    </table>
}
